{% load static %}

<article class="article jason">
    <div class="profile-header">
        <h3 class="article__header">{{ member.name }} <br> {{ member.id }}</h3>
    </div>
    <img class="article__img" src="{% static "assignment2_app/img/"|add:member.img %}" alt="{{ member.name }}">
    <div class="description">
        <p><strong>Course:</strong> {{ member.course }}</p>
        <p><strong>Age:</strong> {{ member.age }}</p>
        <p><strong>Ethnicity:</strong> {{ member.nationality }}</p>
    </div>
</article>