<div class="project">
    <a class="link" href="">
        <h2>Topic Number: 1</h2>
        <p><strong>Category:</strong> Artificial Intelligence, Machine Learning and Data Science</p>
        <p><strong>Title:</strong> Machine learning approaches for Cyber Security</p>
        <p><strong>Thesis Supervisor:</strong> Bharanidharan Shanmugam</p>
        <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
        <p><strong>Fields:</strong> Computer Science, Cyber Security, Data Science, Information Systems and Data Science</p>
    </a>
</div>