/* Main Index ome */ 
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 140px;
    background-color: #770577;
}

/* header .logo img {
    height: 70px;
} */

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo li a {
    text-decoration: none;
    color: #ffffff;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    text-align: justify;
    padding: 50px 140px;
    color: #ffffff;
    background-color: #770577;
    text-align: center;
}

/* For Research  */
/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.research-topics-title {
    text-align: center;
    color: #007BFF;
    margin-top: 20px;
}

.project {
    padding: 20px;
    margin: 20px 0;
    background-color: #ffffff;
    border-left: 5px solid #007BFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project h2 {
    color: #0056b3;
    margin-top: 0;
}

.project p {
    margin: 10px 0;
    line-height: 1.5;
}

.project strong {
    color: #333;
}

/* About Us page */

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.jason,
.micia,
.tirth,
.zandro {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 3px solid #770577;
    border-radius: 10px;
}

.about-us {
    margin: 50px 140px;
}

section h2 {
    text-align: center;
}

.logo img {
    height: 150px;
    /* width: 200px; */
}

.logo h1 {
    font-size: 50px;
    color: #ffffff;
    margin: 20px;
}

.about-us h2 {
    font-size: 35px;
}