<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="{% url 'home' %}">Home</a></li>
                <li class="navigation__item"><a href="{% url 'project-details' %}">Project details</a></li>
            </ul>
        </nav>
    </header>


    {% block content %} {% endblock content %}


    <footer class="footer">
        <p>this is footer</p>
    </footer>
</body>
</html>