{% extends "base.html" %}
{% load static %}

{% block title %} Project details {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "assignment2_app/projectDetails.css"%}">
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <h1>Research Topic</h1>
        <div class="project">
            <h2>Topic Number: 1</h2>
            <p><strong>Category:</strong> Artificial Intelligence, Machine Learning and Data Science</p>
            <p><strong>Title:</strong> Machine learning approaches for Cyber Security</p>
            <p><strong>Thesis Supervisor:</strong> Bharanidharan Shanmugam</p>
            <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
            <p><strong>Fields:</strong> Computer Science, Cyber Security, Data Science, Information Systems and Data Science</p>
        </div>
    </div>
</section>
{% endblock content %}