
{% extends "base.html" %}
{% load static %}

{% block title %} Project List {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "assignment2_app/projectList.css"%}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="research-topics-title">Research Topics</h1>
    <div class="project">
        <h2>Topic Number: 1</h2>
        <p><strong>Category:</strong> Artificial Intelligence, Machine Learning and Data Science</p>
        <p><strong>Title:</strong> Machine learning approaches for Cyber Security</p>
        <p><strong>Thesis Supervisor:</strong> Bharanidharan Shanmugam</p>
        <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
        <p><strong>Fields:</strong> Computer Science, Cyber Security, Data Science, Information Systems and Data Science</p>
    </div>

    <div class="project">
        <h2>Topic Number: 9</h2>
        <p><strong>Category:</strong> Artificial Intelligence, Machine Learning and Data Science</p>
        <p><strong>Title:</strong> Informetrics applications in multidisciplinary domain</p>
        <p><strong>Thesis Supervisor:</strong> Yakub Sebastian</p>
        <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
        <p><strong>Fields:</strong> Computer Science, Cyber Security, Data Science, Information Systems and Data Science, Software Engineering</p>
    </div>

    <div class="project">
        <h2>Topic Number: 16</h2>
        <p><strong>Category:</strong> Biomedical Engineering and Health Informatics</p>
        <p><strong>Title:</strong> Development of a Virtual Reality System to Test Binaural Hearing</p>
        <p><strong>Thesis Supervisor:</strong> Sami Azam</p>
        <p><strong>Locations:</strong> Internal - Casuarina, External</p>
        <p><strong>Fields:</strong> Computer Science, Cyber Security, Software Engineering, Electrical and Electronics Engineering and Mechanical Engineering.</p>
    </div>

    <div class="project">
        <h2>Topic Number: 41</h2>
        <p><strong>Category:</strong> Cyber Security</p>
        <p><strong>Title:</strong> Current trends on cryptomining and its potential impact on cryptocurrencies</p>
        <p><strong>Thesis Supervisor:</strong> Sami Azam</p>
        <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
        <p><strong>Fields:</strong> Computer Science, Cyber Security, Data Science and Software Engineering</p>
    </div>

    <div class="project">
        <h2>Topic Number: 176</h2>
        <p><strong>Category:</strong> Artificial Intelligence, Machine Learning and Data Science</p>
        <p><strong>Title:</strong> Artificial Intelligence in Health Informatics</p>
        <p><strong>Thesis Supervisor:</strong> Asif Karim</p>
        <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
        <p><strong>Fields:</strong> Electrical and Electronics Engineering, Computer Science, Cyber Security, Data Science, Information Systems and Data Science, Software Engineering</p>
    </div>

    <div class="project">
        <h2>Topic Number: 180</h2>
        <p><strong>Category:</strong> Artificial Intelligence, Machine Learning and Data Science</p>
        <p><strong>Title:</strong> Unsupervised Model Development from Autism Screening Data</p>
        <p><strong>Thesis Supervisor:</strong> Asif Karim</p>
        <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
        <p><strong>Fields:</strong> Electrical and Electronics Engineering, Computer Science, Cyber Security, Data Science, Information Systems and Data Science, Software Engineering</p>
    </div>

    <div class="project">
        <h2>Topic Number: 226</h2>
        <p><strong>Category:</strong> Artificial Intelligence, Machine Learning and Data Science</p>
        <p><strong>Title:</strong> Applying Artificial Intelligence to solve real world problems</p>
        <p><strong>Thesis Supervisor:</strong> Bharanidharan Shanmugam</p>
        <p><strong>Locations:</strong> Internal - Casuarina, Internal - Sydney, External</p>
        <p><strong>Fields:</strong> Chemical, Civil, Structural, Electrical, Electronics Engineering and Mechanical Engineering, Computer Science, Cyber Security, Data Science, Information Systems and Data Science, Software Engineering</p>
    </div>
</div>
{% endblock content %}